body {
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 20px;
  border-style: solid;
  border-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: white;
  background-color: #F5CF8B;
}

.italy {
  padding-left: 0px;}
.honduras {
  padding-left: 50px;}
.mexico {
  padding-left: 50px;}
.malaysia {
  padding-left: 50px;}
.laos {
  padding-left: 50px;}
.header {
  text-align: center;
}

.options {
  /*padding-left: 100px;*/
  text-align: justify;
  margin: 0 auto;
  width: 15em;
}

.questions {
  text-align: center;
  color: black;
}

.button {
  display: block; 
  width: 150px;
  text-align: center;
  margin:0 auto;
}


.title {
  font-family: "bookman";
}
