<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
    </head>
    <body style = "background-color: #F5CF8B">
        <form method = "post" action = "respond">
        <h1 align = "center">About</h1>
        <hr width = 50%>
        <h2 align = "center">Creators</h2>
        <h3 align = "center">Leann Smyth - Web design, development, and editor <br>
        Francis Howell North class of 2020</h3>
        <br>
        </br>
        <hr width = 15%>
        <br>
        </br>
        <h3 align = "center">Christine Oyalo - Writer, editor<br>
        Ladue High School class of 2020</h3>
        <br>
        </br>
         <hr width = 15%>
        <br>
        </br>
        <h3 align = "center">Zora Thomas - Writer, Editor<br>
        Webster Groves High School class of 2021</h3>
        <br>
        </br>
         <hr width = 15%>
        <br>
        </br>
        <h3 align = "center"><a href="home2">Home</a></h3>
        </form>
    </body>
</html>