<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body style = "background-color: #F5CF8B">
        <img align = "center" src = "http://pngimg.com/uploads/postage_stamp/postage_stamp_PNG14.png" height = 80px>
        <p align = "left"><h1 class = "title" align = "left">Travel Tribune - St. Louis</h1><h3> - the all inclusive informational site</h3></p>
        <hr align = "left">
        <h1 align = "center"><u>Welcome!</u></h1>
        <h2 align = "center">Can't decide where to go next?</h2>
        <h2 align = "center"><a href="index">Take the quiz!</a></h2>
        <br>
        <h2 align = "center"><a href="about">About</a></h2>
        <br>
        <hr width = 50%>
        <br>
        </br>
        <div align="center">
  <h1 align = "center">Tips for Packing</h1>
       <img src = "https://www.zola.com/blog/wp-content/uploads/2014/11/packing-tips_1200x675.jpg" height = 400px>
       </div>
       
       <p margin=50px>
<h2>1. Make a list of what you need</h2>
<p><h3>You probably think it's not necessary, but it's very helpful to make sure you can tangibly have everything.</h3></p>
<h2>2. Roll clothes in your suitcase</h2>
<p><h3>Rolling your clothes not only saves space, but it's great to prevent wrinkles in your clothes.</h3></p>
<h2>3. Pack your clothes using the 2:1 rule</h2>
<p><h3>The rule says to pack two tops for every bottom (skirts, shorts, etc). This rule is helpful because, most likely, you are going to end up wearing bottom pieces more often than your tops. This rule also saves space.</h3></p>
<h2>4. Pack a laundry bag</h2>
<p><h3>This bag can help you seperate your dirty clothes, while not messing up the organization inside the suitcase.</h3></p>
<h2>5. Use any and every available space</h2>
<p><h3>Use every single nook and cranny, whether even in your shoes. Use those small spaces to put small bags or headphones.</h3></p>
<h2>6. Seal Liquid bottles with a plastic bag</h2>
<p><h3>Take a ziploc bag and put the bag over the opening of the bottle before twisting the cap (or pump) closed. This creates a seal prenting leakage.</h3></p>
<h2>7. Cover footwear with shower caps.</h2>
<p><h3>This keeps your clothes clean.</h3></p>
<h2>8. Pack heavier items toward the wheels</h2>
<p><h3>The weight will be distributed more evenly in the suitcase, so it will be easier moving around with it.</h3></p>
<h2>9. Research you airline's limit on carry-ons</h2>
<p><h3>Make sure you know the limit and the pricing to be prepared.</h3></p>
<h2>10. Tangle free jewlery</h2>
<p><h3>Thread necklaces/bracelets through a straw to keep them from tangling in your luggage. You can also fasten bearrings through a button to keep them together</h3></p>
       </p>
       <br>
       </br>
       <hr width = 50%>
       <br>
       </br>
       <div align="center">
       <h1 align = "center">How To Budget During Your Trip</h1>
        <img class = pictures src="https://reflectandrefresh.files.wordpress.com/2015/10/bigstock-collecting-money-for-travel-g-91255895.jpg"/height = 400px>
        </div>
        <h2>
          Come up with a certain amount of money that you'll be willing to spend on your entire trip - seperate that amount into these 5 groups:
        </h2>
        <div>
        </div>
        <p><h2>
         1. Transportation</h2> <h3>-A taxi or plane are both good ways to travel for short amounts of time, but the cost for both of 
         these most likely will depend on the amount of miles that you are trying to go. Most people going on a trip would reccomend
         paying for a rental car, so that all you would have to pay for is the original cost of the car, and gas. If you are 
         looking for a rental car company, here is one that has international service! 
         <a href="https://www.budget.com/en/offers/international">Rental Car</a></h3>
        </p>
        <div>
        </div>
        <p><h2>
          2. Accomodation </h2><h3>-Hotels, Apartment Rentals, and Resorts are all good options for when you need a place to stay,
         although the restorts will probably cost more than the rest, some allow you to eat at a free buffet, which would help 
         lower the amount of money that you would spend on food, especially if you have a large family. If you're looking for a
         website to find a hotel in the area you are going to, here is one that locates hotels almost all throughout the world!
         <a href="https://www.hotelplanner.com"> Hotel Planner</a></h3>
        </p>
        <div>
        </div>
        <p><h2>
          3. Food </h2><h3>-When it comes to food some resorts will have free food, or at least some restaurants that you could 
          eat at. But if you are planning on staying at a hotel, you could either order room service or go out to eat at a nearby 
          restaurant.</h3>
        </p>
        <div>
        </div>
        <p><h2>
          4. Activities</h2> <h3>-Excursions usually cost around $200+, but they are a lot of fun for families & friends to do
          together. Getting a tour of the area that you're in would be a great oppertunity to learn and have some cute photo ops.</h3>
        </p>
 </div>
 <br>
       </br>
       <hr width = 50%>
       <br>
       </br>
 
 
     <div align = "center">
       <h1>Staying Safe While Traveling</h1>
       <img src="https://hype.my/wp-content/uploads/2015/09/Girl-Looking-At-Map.jpg" height = 400px/>
  </div>
<h2>1. Be mindful of pick pocketing or other distraction scams</h2>
<p><h3>If you have a backpack and you are on a bus or train, keep it front of you. Don't keep your wallet in your back pocket or any valuables. Be wary of people “bumping” into you. Bumping distracts you from realizing your valuables are missing.</h3></p>
<h2>2. Be cautious of driving in a taxi/driving services</h2>
<p><h3>Do research on which driving service you will take. Check for identification for the driver and the service, especially if you take a ride from a service you do not know of. It is better to use official taxis.</h3></p>
<h2>3. Keep valuables out of sight</h2>
<p><h3>When you lock your vehicle, make sure your items are hidden. Also, hide your valuables especially when you are on the beach.</h3></p>
<h2>4. Blend in</h2>
<p><h3>Do not show your wealth because this can make you an easy target for being robbed. Learn to pick some of the local dialect so communication can be easier. Do not advertise U.S. opinions or other political opinions.</h3></p>
<h2>5. Ask identification in doubt</h2>
<p><h3>Sometimes people in other countries  can impersonate a police officer or other authority. They can possibly rob you, or have other bad intentions. Always ask for identification. If you have suspicions, ask the officer to escort you to the police station to check legitimacy.</h3></p>
<h2>6. Be wary of using an ATM</h2>
<p><h3>An ATM skimming is created when thieves put a device inside the slot of an ATM. THis device blocks your card from going into a machine, and instead retrieves information of your card. Feel the slot of the ATM for a tab, or other odd things.</h3></p>
<h2>7. Write down emergency information of the place you are Traveling in</h2>
<p><h3>If you write down emergency contact information, you do not have to worry about scrambling for help during a dire situation.</h3></p>
<h2>8. Avoid booking scams </h2>
<p><h3>Do not judge a book by its cover, or in this case, the picture of the residency or resort. This is how scammers lure people in! Make sure to check for legitimacy of the place you are booking.</h3></p> 

 </div>
 
<!-- <div>-->
<!--     <div align = "center">-->
<!--       <h1>Hacks You Can Use for Flying</h1>-->
<!--       <img src="http://cjonsecurity.com/wp-content/uploads/2013/11/airplane.jpg"/>-->
<!--      </div>-->
<!--<h1>1. Book a flight 54 days in advance</h1>-->
<!--<p>According to smart travel.com, air fares start to raise after 7 and a half weeks. The best time for discounted tickets is one month before travel.<a href="https://thriftynomads.com/booking-cheapest-flight-possible-anywhere/">Thrifty Nomads</a> has good hacks also for saving money.</p>-->
<!--<h1>2. When you buy a ticket online, open an incognito tab</h1>-->
<!--<p>Airlines use your cookies every time you search for a flight, so that they can increase prices .The lowest prices will be available using private browsing mode. Use a new incognito window for every search you make.</p>-->
<!--<h1>3. Buy tickets on a Tuesday</h1>-->
<!--<p>According to Fare Compare, the best time to buy tickets is on a Tuesday. If an airline decides to drop its prices, most likely other airlines will follow pursuit. <p>Here is a link to<a href="ticket</p>http://traveltips.usatoday.com/airlines-drop-prices-61105.html"> USA Today article </a>about other good times to buy a ticket.</p>-->
<!--<h1>4. Sit by the wing of a plane</h2>-->
<!--<p>People taking a seat near the wing of a plane will</p>-->
<!--<h2>5. Use websites like SeatGuru to book the best seats</h2>-->
<!--<p>Here is the link to<a href="https://www.seatguru.com/"> seatguru.com </a>-->
<!--<h1>6. Pack your valuables in your carry on</h2>-->
<!--<p>Pack your phone, money, and other essential items in your carry-on in case your luggage is lost.</p>-->
<!--<h1>7. Avoid the water on an Airplane. Ask for bottled water at all costs</h2>-->
<!--<p>So much bateria</p>-->

     
<!-- </div>-->
 <br>
       </br>
       <hr width = 50%>
       <br>
       </br>
 
    </body>
</html>