<!DOCTYPE html>
<html>
  
<style>body {
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 20px;
  border-style: solid;
  border-width: 10px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: white;
  background-color: #F5CF8B;
}

.italy {
  padding-left: 0px;}
.honduras {
  padding-left: 50px;}
.mexico {
  padding-left: 50px;}
.malaysia {
  padding-left: 50px;}
.laos {
  padding-left: 50px;}
.header {
  text-align: center;
}

.options {
  /*padding-left: 100px;*/
  text-align: justify;
  margin: 0 auto;
  width: 15em;
}

.questions {
  text-align: center;
  color: black;
}

.button {
  display: block; 
  width: 150px;
  text-align: center;
  margin:0 auto;
}


.title {
  font-family: "bookman";
}
</style>
  
  <head>
    
    <meta charset="UTF-8">
    <link rel="stylesheet" type= "text/css" href="css/style.css">
    
    <title>
      vacation destination
    </title>
    
  </head>
  
  <body>
    
    <div class = "header"> 
    <u><h1>Vacation Destination</h1></u>
    <h2 style="text-align:center">Carefully answer these questions to recieve your next vacation destination!</h2>
      <form method = "post" action="respond">
  <img class = "italy" src = "http://www.unemeuf.com/cdn/31/2007/20/italy-passport-stamp_95462.png" height = 100px>
  <img class = "honduras" src = "https://i.pinimg.com/originals/7c/d6/de/7cd6dedfd4f80f283fd0ba9918cc74c4.jpg" height = 100px>
  <img class = "mexico" src = "https://i.pinimg.com/originals/61/73/b8/6173b87c4adf1b911bf73c63e6489bee.png" height = 100px>
  <img class = "malaysia" src = "https://i.pinimg.com/originals/1e/0e/d7/1e0ed760f50ec0a89176e0f0b7a589b1.png" height = 100px>
  <img class = laos src = "https://i1.wp.com/www.givevolunteers.org/wp-content/uploads/laos-passport-stamp.png?ssl=1" height = 100px>
  
        </div>
  <!--<div class = "questions">-->
    <h3 class = questions>Would you rather...?</h3>
  <p class = options>
    <input type="radio" name="rather" value="A"> Hike<br>
    <input type="radio" name="rather" value="B"> Spa Day<br>
    <input type="radio" name="rather" value="C"> Art Museum<br>
    <input type="radio" name="rather" value="D"> Shop<br>
  </p>
  <br>
  
  <h3 class = "questions">How would you describe your fashion sense?</h3>
  <p class = "options">
    <input type="radio" name="fashion" value="A"> Casual and functional<br>
    <input type="radio" name="fashion" value="B"> Relaxed and comfortable<br>
    <input type="radio" name="fashion" value="C"> Classic and Chic<br>
    <input type="radio" name="fashion" value="D"> Trendy and expressive<br>
  </p>
    <br>
    
  <h3 class = "questions">What type of weather do you most enjoy?</h3>
  <p class = "options">
      <input type="radio" name="weather" value="A"> Warm and mild<br>
  <input type="radio" name="weather" value="B"> Hot and tropical<br>
  <input type="radio" name="weather" value="C"> Variety<br>
  <input type="radio" name="weather" value="D"> Humid and temperate<br>
      </p>
    <br>
    
  <h3 class = "questions">Who would you travel with?</h3>
  <p class = "options">
      <input type="radio" name="who" value="A"> Close friends<br>
  <input type="radio" name="who" value="B"> Your family<br>
  <input type="radio" name="who" value="C"> Significant other<br>
  <input type="radio" name="who" value="D"> Your bff<br>
      </p>
    <br>
    
  <h3 class = questions>What is the goal for your vacation?</h3>
  <p class = options>
      <input type="radio" name="goal" value="A"> Connect with nature<br>
  <input type="radio" name="goal" value="B"> Unwind and relax<br>
  <input type="radio" name="goal" value="C"> Learn like the locals<br>
  <input type="radio" name="goal" value="D"> Explore the culture<br>
      </p>
    <br>
    
  <h3 class = questions>What is your taste in food?</h3>
 <p class = options>
   <input type="radio" name="food" value="A"> Surf and Turf<br>
  <input type="radio" name="food" value="B"> Indulgent<br>
  <input type="radio" name="food" value="C"> Bistro style<br>
  <input type="radio" name="food" value="D"> Exotic<br>
      </p>
      <br>
      
  <h3 class = questions>Where do you want to stay?</h3>
  <p class = options>
    <input type="radio" name="stay" value="A"> Rural bed and breakfast<br>
    <input type="radio" name="stay" value="B"> Secluded getaway<br>
    <input type="radio" name="stay" value="C"> Quaint Apartment with a balcony<br>
    <input type="radio" name="stay" value="D"> Highrise with a cityscape view<br>
  </p>
    <br>
    
  <h3 class = questions>What word best describes you</h3>
  <p class = options>
    <input type="radio" name="describe" value="A"> Extreme<br>
    <input type="radio" name="describe" value="B"> Mellow<br>
    <input type="radio" name="describe" value="C"> Timeless<br>
    <input type="radio" name="describe" value="D"> Curious<br>
  </p>
    <br>
    
      <h3 class = questions>What would you <b>never</b> forget to pack?</h3>
  <p class = options>
    <input type="radio" name="pack" value="A"> Sunglasses<br>
    <input type="radio" name="pack" value="B"> Swimsuit<br>
    <input type="radio" name="pack" value="C"> Map<br>
    <input type="radio" name="pack" value="D"> Camera<br>
  </p>
    <br>
    
  <h3 class = questions>What would you do for fun?</h3>
  <p class = options>
    <input type="radio" name="fun" value="A"> White water rafting<br>
    <input type="radio" name="fun" value="B"> Snorkeling<br>
    <input type="radio" name="fun" value="C"> Go dancing<br>
    <input type="radio" name="fun" value="D"> Kareoke
  </p>
    <br>
      
  <br>
  <br>
  <br>
  
<input class = button type="submit" value= "submit">
<h3 align = "center"><a href="home2">Home</a></h3>
    
</form>

  </body>
  
</html>